.footer {
  position: relative;
  bottom: 0;
  background-image: url("https://db3pap006files.storage.live.com/y4mGIMHcPHrPq33kceHSziK33v3U6aQtqiVEJWfMU0s3lizA0FeyzJSgFQpRPhvrh15zF-ieuG3SqtpobXrFUxkQjjj7HJbqn_ae92YHQRlWsCIn6djx9h_bfeJAKvntiN-7FLcrV-3QU-VIumZXOveEPj5BFsq1WQC06zxy4PGZ2gjI_JPDrMk0-8S-j9AI7Rs?width=512&height=222&cropmode=none");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  height: 14vh;
  margin-top: 0;

  background-color: rgb(214, 221, 195);
  width: 100%;
}
ul {
  width: 91%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-end;
  background-color: grey;
  opacity: 0.8;
}
li {
  width: 35%;
  margin: 0;
}

@media (min-width: 768px) {
  ul {
    width: 96.2%;
  }
}
